<!-- <router-outlet></router-outlet> -->

<div class="page-content">
  <div class="nav">
    <img src="assets/images/logo.png" alt="">
    <ul class="nav-list d-none d-md-block">
      <li>
        <a href="#contact" class="btn btn-outline-warning">Prendre RDV</a>
      </li>
      <li>
        <a href="#offers" class="btn btn-outline-warning">Nos offres</a>
      </li>
    </ul>
  </div>
  <div class="header">
    <div class="header-bg"></div>
    
    <div class="header-content">
      <h1>IDF Pare-brise</h1>
      <div class="desc">Réparation À DOMICILE de votre vitrage automobile dans toute l'Île de France.</div>
      <div class="actions">
        <a href="tel: 07 85 90 36 72" class="btn btn-success btn-lg btn-sm-block mb-1">07 85 90 36 72</a>
        <a href="#contact" class="btn btn-warning btn-lg btn-sm-block mb-1">Prendre RDV</a>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="offers" id="offers">
      <h1>Nos offres</h1>

      <div class="list">
        <div class="item">
          <h2>On vient CHEZ VOUS !</h2>
          <p>Nos experts se déplacent GRATUITEMENT chez vous ou sur votre  lieu de travail pour réparer votre véhicule. </p>
        </div>
        <div class="item">
          <h2>150 € OFFERTS</h2>
          <p>Pour le remplacement de votre pare-brise</p>
          <div class="hint">*150€ remboursé sur votre franchise.</div>
        </div>

        <div class="item">
          <h2>Véhicule Nettoyé</h2>
          <p>Une équipe de professionnels à votre service vous restituera votre vehicule nettoyé.</p>
        </div>

        <div class="item">
          <h2>1 paire d'AirPods OFFERTE</h2>
          <div class="hint">*Offre valable dans la limite du stock disponible ou autre cadeau surprise.</div>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <div class="content">
        <h1>Prendre rendez-vous</h1>
        <p>Si vous souhaitez prendre rendez-vous ou simplement vous renseigner sur le prix d'un pare-brise lors d'une
          réparation de pare-brise sans assurance.
          Tous nos devis sont bien évidemment gratuits.
          Remplissez ce formulaire et nous vous contacterons dans les meilleurs délais.</p>

        <form>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Prénom">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Téléphone">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Courriel">
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea  rows="5" class="form-control" placeholder="Vos questions, commentaires... "></textarea>
          </div>
          
          
          <button type="submit" class="btn btn-success btn-lg btn-block">Envoyer</button>
        </form>
      </div>


    </div>

  </div>
</div>

<div class="footer">
  <div class="copyright">© 2020 IDF PARE-BRISE.</div>
</div>